logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/

dist/
dist-ssr/
build/
*.local

.vite/
vite.config.timestamp-*.mjs

.tailwindcss/

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo


coverage/
*.lcov


Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

.fleet/
.history/
